* {
  color: white;
  font-family: "Roboto", sans-serif
}

body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/1f1d4597362453.5ec37b932b4d6.png);
  background-size: cover;
}



.navigation {
  text-align: center;
  /* background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png); */

}

.opacity {
  padding-bottom: 10px;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0.4)
}


.divider {
    width: 20px;
    height:auto;
    display:inline-block;
}
