* {
  color: white;
  font-family: "Raleway", sans-serif;
  /* font-family: "Lora", Serif; */
}

body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/1f1d4597362453.5ec37b932b4d6.png);
  background-size: cover;
}



.navigation {
  text-align: center;


  /* background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png); */

}

.opacity {
  padding-bottom: 10px;
  padding-top: 10px;
  background: rgba(26, 22, 61, 0.9);
  border-radius: 10px;
}


.divider {
    width: 20px;
    height:auto;
    display:inline-block;
}

h3 {
  text-align: center;
}

.fa-check-circle {
  color: green;
  background-color: green;
}

.fa-times {
  background-color: red;
}

   /* Glyphicons*/
   /* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"); */
